n8n/workflows/Agent_Classifier_AI_v2_ACTIVE.json
{
    "updatedAt": "2026-03-04T17:45:10.287Z",
    "createdAt": "2026-03-03T11:35:58.745Z",
    "id": "vTddcbDCwnqk3miA",
    "name": "Agent Classifier AI v2 (ACTIVE)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "Webhook",
            "name": "Webhook",
            "parameters": {
                "httpMethod": "POST",
                "path": "classify-agent",
                "responseMode": "responseNode"
            },
            "position": [
                400,
                300
            ],
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1
        },
        {
            "continueOnFail": true,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "vM3WkPytJ6M2G1fS"
                }
            },
            "id": "ClassifierLLM",
            "name": "ClassifierLLM",
            "parameters": {
                "authentication": "predefinedCredentialType",
                "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un analista experto en sistemas de Voice AI. Lee las 'Instrucciones' de este robot telefónico y clasifícalo en UNA SOLA de estas 5 categorías. Responde solo con la palabra en mayúsculas:\\n\\nENCUESTA_NUMERICA: Pide notas, valoraciones del 1 al 10 o puntajes.\\n\\nPREGUNTAS_ABIERTAS: Hace preguntas de desarrollo para conocer opiniones, motivos o feedback cualitativo detallado.\\n\\nCUALIFICACION_LEAD: Hace preguntas cerradas (Sí/No, datos concretos) para filtrar si un cliente es apto para comprar.\\n\\nAGENDAMIENTO_CITA: Su objetivo es concertar una reunión, visita o llamada en el calendario.\\n\\nSOPORTE_CLIENTE: Actúa como atención al cliente reactiva, recogiendo quejas o resolviendo dudas técnicas.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Webhook').item.json.body.instructions }}\"\n    }\n  ]\n}",
                "jsonHeaders": "={\n  \"Content-Type\": \"application/json\"\n}",
                "method": "POST",
                "nodeCredentialType": "httpHeaderAuth",
                "sendBody": true,
                "sendHeaders": true,
                "specifyBody": "json",
                "url": "https://api.groq.com/openai/v1/chat/completions"
            },
            "position": [
                600,
                300
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4
        },
        {
            "id": "IsSuccess",
            "name": "IsSuccess",
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.error == undefined }}",
                            "value2": true
                        }
                    ]
                }
            },
            "position": [
                800,
                300
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "credentials": {
                "supabaseApi": {
                    "id": "v8Epggpt6LC5dFEf",
                    "name": "Supabase API Auto"
                }
            },
            "id": "UpdateDB",
            "name": "UpdateDB",
            "parameters": {
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "tipo_resultados",
                            "fieldValue": "={{ $json.choices[0].message.content.trim() }}"
                        },
                        {
                            "fieldId": "agent_type",
                            "fieldValue": "={{ $json.choices[0].message.content.trim() }}"
                        }
                    ]
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "id",
                            "operator": "eq",
                            "value": "={{ $('Webhook').item.json.body.agent_id }}"
                        }
                    ]
                },
                "operation": "update",
                "tableId": "agent_config"
            },
            "position": [
                1000,
                200
            ],
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1
        },
        {
            "id": "RespondSuccess",
            "name": "RespondSuccess",
            "parameters": {
                "options": {
                    "responseCode": 200
                },
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"success\",\n  \"agent_id\": \"{{ $('Webhook').item.json.body.agent_id }}\",\n  \"classification\": \"{{ $('ClassifierLLM').item.json.choices[0].message.content.trim() }}\"\n}"
            },
            "position": [
                1200,
                200
            ],
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1
        },
        {
            "id": "RespondError",
            "name": "RespondError",
            "parameters": {
                "options": {
                    "responseCode": 500
                },
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"error\",\n  \"agent_id\": \"{{ $('Webhook').item.json.body.agent_id }}\",\n  \"error_message\": \"{{ $json.error ? JSON.stringify($json.error) : 'Unknown error from Groq' }}\"\n}"
            },
            "position": [
                1000,
                400
            ],
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1
        }
    ],
    "connections": {
        "ClassifierLLM": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "IsSuccess",
                        "type": "main"
                    }
                ]
            ]
        },
        "IsSuccess": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "UpdateDB",
                        "type": "main"
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "RespondError",
                        "type": "main"
                    }
                ]
            ]
        },
        "UpdateDB": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "RespondSuccess",
                        "type": "main"
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "ClassifierLLM",
                        "type": "main"
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all",
        "saveManualExecutions": true,
        "saveExecutionProgress": true,
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "62d38aef-4fb3-4b24-9aee-7112e24c041b",
    "activeVersionId": "62d38aef-4fb3-4b24-9aee-7112e24c041b",
    "versionCounter": 22,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-03T11:35:58.748Z",
            "createdAt": "2026-03-03T11:35:58.748Z",
            "role": "workflow:owner",
            "workflowId": "vTddcbDCwnqk3miA",
            "projectId": "ijbwk55HPKJ5DPss",
            "project": {
                "updatedAt": "2025-12-11T08:54:51.702Z",
                "createdAt": "2025-12-10T13:46:26.449Z",
                "id": "ijbwk55HPKJ5DPss",
                "name": "inigo solana <inigo.solana@ausarta.es>",
                "type": "personal",
                "icon": null,
                "description": null,
                "projectRelations": [
                    {
                        "updatedAt": "2025-12-10T13:46:26.452Z",
                        "createdAt": "2025-12-10T13:46:26.452Z",
                        "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
                        "projectId": "ijbwk55HPKJ5DPss",
                        "user": {
                            "updatedAt": "2026-03-04T08:56:01.000Z",
                            "createdAt": "2025-12-10T13:46:26.442Z",
                            "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
                            "email": "inigo.solana@ausarta.es",
                            "firstName": "inigo",
                            "lastName": "solana",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                                "personalization_survey_n8n_version": "1.123.4",
                                "companySize": "100-499",
                                "companyType": "saas",
                                "role": "business-owner",
                                "reportedSource": "google"
                            },
                            "settings": {
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                                "userActivated": true,
                                "userActivatedAt": 1772015350689
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-04",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": []
}