n8n/workflows/Ausarta_DevOps___Error_Monitor_AI.json
{
  "updatedAt": "2026-03-04T13:26:44.503Z",
  "createdAt": "2026-03-04T13:08:50.471Z",
  "id": "FbXAQlUVAxAwDxOm",
  "name": "Ausarta DevOps - Error Monitor (AI)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "error_trig_1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "parameters": {}
    },
    {
      "id": "groq_node_1",
      "name": "Analyze Error with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        350,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres el experto DevOps de Ausarta. Analiza el error de n8n proporcionado y genera un resumen de UNA SOLA FRASE en español sobre qué ha fallado y cómo arreglarlo.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Workflow: {{ $node['Error Trigger'].json.workflow.name }}\\nError: {{ JSON.stringify($node['Error Trigger'].json.execution.error) }}\"\n    }\n  ]\n}"
      }
    },
    {
      "id": "backend_notif_1",
      "name": "Notify Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://15.216.15.30:8003/api/alerts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"🚨 Error en Workflow: {{ $node['Error Trigger'].json.workflow.name }}\",\n  \"message\": \"{{ $node['Analyze Error with AI'].json.choices[0].message.content }}\",\n  \"severity\": \"error\"\n}"
      }
    },
    {
      "id": "telegram_1",
      "name": "Telegram_Notif",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "jsonBody": "={\n  \"chat_id\": \"8581473738\",\n  \"text\": \"🚨 *Error en Workflow n8n*\\n\\n*Workflow:* {{ $node['Error Trigger'].json.workflow.name }}\\n*Diagnóstico (Groq)*: {{ $node['Analyze Error with AI'].json.choices[0].message.content }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage"
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Analyze Error with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Error with AI": {
      "main": [
        [
          {
            "node": "Notify Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Backend": {
      "main": [
        [
          {
            "node": "Telegram_Notif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4948f0c7-b4e2-4214-9d12-9109f1500ddc",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-04T13:08:50.474Z",
      "createdAt": "2026-03-04T13:08:50.474Z",
      "role": "workflow:owner",
      "workflowId": "FbXAQlUVAxAwDxOm",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-03-04T08:56:01.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}