n8n/workflows/Invitacion_Usuarios_Ausarta_Robot_v3.json
{
  "updatedAt": "2026-06-09T05:54:21.218Z",
  "createdAt": "2026-02-24T13:49:09.664Z",
  "id": "MkglONaefdeNTLrm",
  "name": "Invitacion_Usuarios_Ausarta_Robot_v3",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0952789-a4a1-4eae-b0db-494356a9e3fa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-123456789",
      "name": "Webhook",
      "position": [
        112,
        208
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "d0952789-a4a1-4eae-b0db-494356a9e3fa",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-n8n-secret",
              "leftValue": "={{ $('Webhook').item.json.headers['x-n8n-secret'] }}",
              "rightValue": "ausarta-n8n-secret-2026-XkP9mQ7r",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-secret-invite",
      "name": "ValidateSecret",
      "position": [
        290,
        208
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\", \"message\": \"X-N8N-Secret invalido o ausente.\" }",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-unauthorized-invite",
      "name": "Respond_Unauthorized",
      "position": [
        490,
        400
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n  \"password\": \"{{ $('Webhook').item.json.body.password || 'Robot2025!' }}\",\n  \"email_confirm\": true\n}",
        "options": {}
      },
      "id": "supabase-auth-123",
      "name": "Supabase_Auth",
      "position": [
        490,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const authResponse = $input.item.json;\nconst webhookBody = $('Webhook').first().json.body;\n\nreturn {\n  json: {\n    id: authResponse.id,\n    email: webhookBody.email,\n    full_name: webhookBody.full_name,\n    role: webhookBody.role || 'user',\n    empresa_id: webhookBody.empresa_id || null,\n    is_active: true\n  }\n};"
      },
      "id": "map-profile-data",
      "name": "MapProfileData",
      "position": [
        680,
        208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "id": "supabase-profile-123",
      "name": "Supabase_Profile",
      "position": [
        880,
        208
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "v8Epggpt6LC5dFEf",
          "name": "Supabase API Auto"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "instalaciones@ausarta.es",
        "html": "=<div style=\\\"font-family: Arial, Helvetica, sans-serif; color: #1a1a1a; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\\\">\\n  <div style=\\\"background: linear-gradient(135deg, #004a99 0%, #0066cc 100%); padding: 28px 24px; text-align: center;\\\">\\n    <p style=\\\"margin: 0; color: #ffffff; font-size: 22px; font-weight: bold;\\\">Ausarta Robot</p>\\n    <p style=\\\"margin: 8px 0 0; color: #cce0ff; font-size: 14px;\\\">Plataforma de voz empresarial</p>\\n  </div>\\n  <div style=\\\"padding: 32px 28px; background: #ffffff;\\\">\\n    <h2 style=\\\"color: #004a99; margin: 0 0 16px;\\\">Bienvenido a Ausarta Robot</h2>\\n    <p>Hola <strong>{{ $('Webhook').item.json.body.full_name }}</strong>,</p>\\n    <p>Tu cuenta en <strong>Ausarta Robot Voice AI</strong> ha sido creada correctamente.</p>\\n    <div style=\\\"background: #f0f6ff; border-radius: 8px; padding: 20px; margin: 24px 0;\\\">\\n      <p style=\\\"margin: 0 0 8px; font-weight: bold; color: #004a99;\\\">Credenciales de acceso</p>\\n      <p style=\\\"margin: 4px 0;\\\"><strong>Usuario:</strong> {{ $('Webhook').item.json.body.email }}</p>\\n      <p style=\\\"margin: 4px 0;\\\"><strong>Contraseña temporal:</strong> {{ $('Webhook').item.json.body.password || 'Robot2025!' }}</p>\\n    </div>\\n    <p><strong>Próximos pasos:</strong></p>\\n    <ol style=\\\"line-height: 1.8;\\\">\\n      <li>Accede a <a href=\\\"http://15.216.15.30\\\" style=\\\"color: #004a99; font-weight: bold;\\\">http://15.216.15.30</a></li>\\n      <li>Inicia sesión con las credenciales indicadas</li>\\n      <li>Cambia tu contraseña en Configuración</li>\\n    </ol>\\n    <p style=\\\"font-size: 13px; color: #666;\\\">¿Dudas? <a href=\\\"mailto:clientes@ausarta.es\\\" style=\\\"color: #004a99;\\\">clientes@ausarta.es</a></p>\\n  </div>\\n</div>",
        "options": {},
        "toEmail": "={{ $json.email }}",
        "subject": "Bienvenido a Ausarta Robot"
      },
      "id": "email-123456789",
      "name": "Enviar_Email_Bienvenida",
      "position": [
        1080,
        208
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "D1gBpu0AEp8AueAF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"user_id\": \"{{ $('Supabase_Auth').item.json.id }}\",\n  \"message\": \"Usuario invitado y perfil creado.\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-node-123",
      "name": "Respond_to_Frontend",
      "position": [
        1280,
        208
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ValidateSecret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSecret": {
      "main": [
        [
          {
            "node": "Supabase_Auth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Auth": {
      "main": [
        [
          {
            "node": "MapProfileData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MapProfileData": {
      "main": [
        [
          {
            "node": "Supabase_Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Profile": {
      "main": [
        [
          {
            "node": "Enviar_Email_Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Email_Bienvenida": {
      "main": [
        [
          {
            "node": "Respond_to_Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5e7eeb14-0af3-46dc-93e6-7af1556607c5",
  "activeVersionId": "5e7eeb14-0af3-46dc-93e6-7af1556607c5",
  "versionCounter": 97,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-24T13:49:09.667Z",
      "createdAt": "2026-02-24T13:49:09.667Z",
      "role": "workflow:owner",
      "workflowId": "MkglONaefdeNTLrm",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-06-09T05:45:22.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1773324965238
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-09T05:54:21.218Z",
    "createdAt": "2026-06-09T05:54:21.218Z",
    "versionId": "5e7eeb14-0af3-46dc-93e6-7af1556607c5",
    "workflowId": "MkglONaefdeNTLrm",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d0952789-a4a1-4eae-b0db-494356a9e3fa",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-123456789",
        "name": "Webhook",
        "position": [
          112,
          208
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "d0952789-a4a1-4eae-b0db-494356a9e3fa",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-n8n-secret",
                "leftValue": "={{ $('Webhook').item.json.headers['x-n8n-secret'] }}",
                "rightValue": "ausarta-n8n-secret-2026-XkP9mQ7r",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "validate-secret-invite",
        "name": "ValidateSecret",
        "position": [
          290,
          208
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"error\": \"Unauthorized\", \"message\": \"X-N8N-Secret invalido o ausente.\" }",
          "options": {
            "responseCode": 403
          }
        },
        "id": "respond-unauthorized-invite",
        "name": "Respond_Unauthorized",
        "position": [
          490,
          400
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/users",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n  \"password\": \"{{ $('Webhook').item.json.body.password || 'Robot2025!' }}\",\n  \"email_confirm\": true\n}",
          "options": {}
        },
        "id": "supabase-auth-123",
        "name": "Supabase_Auth",
        "position": [
          490,
          208
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const authResponse = $input.item.json;\nconst webhookBody = $('Webhook').first().json.body;\n\nreturn {\n  json: {\n    id: authResponse.id,\n    email: webhookBody.email,\n    full_name: webhookBody.full_name,\n    role: webhookBody.role || 'user',\n    empresa_id: webhookBody.empresa_id || null,\n    is_active: true\n  }\n};"
        },
        "id": "map-profile-data",
        "name": "MapProfileData",
        "position": [
          680,
          208
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "user_profiles",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "dataToSend": "autoMapInputData"
        },
        "id": "supabase-profile-123",
        "name": "Supabase_Profile",
        "position": [
          880,
          208
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "credentials": {
          "supabaseApi": {
            "id": "v8Epggpt6LC5dFEf",
            "name": "Supabase API Auto"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "instalaciones@ausarta.es",
          "html": "=<div style=\\\"font-family: Arial, Helvetica, sans-serif; color: #1a1a1a; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\\\">\\n  <div style=\\\"background: linear-gradient(135deg, #004a99 0%, #0066cc 100%); padding: 28px 24px; text-align: center;\\\">\\n    <p style=\\\"margin: 0; color: #ffffff; font-size: 22px; font-weight: bold;\\\">Ausarta Robot</p>\\n    <p style=\\\"margin: 8px 0 0; color: #cce0ff; font-size: 14px;\\\">Plataforma de voz empresarial</p>\\n  </div>\\n  <div style=\\\"padding: 32px 28px; background: #ffffff;\\\">\\n    <h2 style=\\\"color: #004a99; margin: 0 0 16px;\\\">Bienvenido a Ausarta Robot</h2>\\n    <p>Hola <strong>{{ $('Webhook').item.json.body.full_name }}</strong>,</p>\\n    <p>Tu cuenta en <strong>Ausarta Robot Voice AI</strong> ha sido creada correctamente.</p>\\n    <div style=\\\"background: #f0f6ff; border-radius: 8px; padding: 20px; margin: 24px 0;\\\">\\n      <p style=\\\"margin: 0 0 8px; font-weight: bold; color: #004a99;\\\">Credenciales de acceso</p>\\n      <p style=\\\"margin: 4px 0;\\\"><strong>Usuario:</strong> {{ $('Webhook').item.json.body.email }}</p>\\n      <p style=\\\"margin: 4px 0;\\\"><strong>Contraseña temporal:</strong> {{ $('Webhook').item.json.body.password || 'Robot2025!' }}</p>\\n    </div>\\n    <p><strong>Próximos pasos:</strong></p>\\n    <ol style=\\\"line-height: 1.8;\\\">\\n      <li>Accede a <a href=\\\"http://15.216.15.30\\\" style=\\\"color: #004a99; font-weight: bold;\\\">http://15.216.15.30</a></li>\\n      <li>Inicia sesión con las credenciales indicadas</li>\\n      <li>Cambia tu contraseña en Configuración</li>\\n    </ol>\\n    <p style=\\\"font-size: 13px; color: #666;\\\">¿Dudas? <a href=\\\"mailto:clientes@ausarta.es\\\" style=\\\"color: #004a99;\\\">clientes@ausarta.es</a></p>\\n  </div>\\n</div>",
          "options": {},
          "toEmail": "={{ $json.email }}",
          "subject": "Bienvenido a Ausarta Robot"
        },
        "id": "email-123456789",
        "name": "Enviar_Email_Bienvenida",
        "position": [
          1080,
          208
        ],
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "credentials": {
          "smtp": {
            "id": "D1gBpu0AEp8AueAF",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"success\",\n  \"user_id\": \"{{ $('Supabase_Auth').item.json.id }}\",\n  \"message\": \"Usuario invitado y perfil creado.\"\n}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-node-123",
        "name": "Respond_to_Frontend",
        "position": [
          1280,
          208
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "ValidateSecret",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ValidateSecret": {
        "main": [
          [
            {
              "node": "Supabase_Auth",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond_Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase_Auth": {
        "main": [
          [
            {
              "node": "MapProfileData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MapProfileData": {
        "main": [
          [
            {
              "node": "Supabase_Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase_Profile": {
        "main": [
          [
            {
              "node": "Enviar_Email_Bienvenida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar_Email_Bienvenida": {
        "main": [
          [
            {
              "node": "Respond_to_Frontend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}
