n8n/workflows/Invitacion_Usuarios_Ausarta_Robot_v3.json
{
  "updatedAt": "2026-03-05T10:09:59.089Z",
  "createdAt": "2026-02-24T13:49:09.664Z",
  "id": "MkglONaefdeNTLrm",
  "name": "Invitacion_Usuarios_Ausarta_Robot_v3",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-123456789",
      "name": "Webhook",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "d0952789-a4a1-4eae-b0db-494356a9e3fa",
        "respondWith": "text",
        "responseMode": "responseNode"
      },
      "position": [
        112,
        208
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "d0952789-a4a1-4eae-b0db-494356a9e3fa"
    },
    {
      "credentials": {},
      "id": "supabase-auth-123",
      "name": "Supabase_Auth",
      "parameters": {
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            }
          ]
        },
        "jsonBody": "={\n  \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n  \"password\": \"{{ $('Webhook').item.json.body.password || 'Robot2025!' }}\",\n  \"email_confirm\": true\n}",
        "method": "POST",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/users"
      },
      "position": [
        352,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "map-profile-data",
      "name": "MapProfileData",
      "parameters": {
        "jsCode": "const authResponse = $input.item.json;\nconst webhookBody = $('Webhook').first().json.body;\n\nreturn [{\n  json: {\n    id: authResponse.id,\n    email: webhookBody.email,\n    full_name: webhookBody.full_name,\n    role: webhookBody.role || 'user',\n    empresa_id: webhookBody.empresa_id || null,\n    is_active: true\n  }\n}];",
        "mode": "runOnceForEachItem"
      },
      "position": [
        528,
        208
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "v8Epggpt6LC5dFEf",
          "name": "Supabase API Auto"
        }
      },
      "id": "supabase-profile-123",
      "name": "Supabase_Profile",
      "parameters": {
        "dataToSend": "autoMapInputData",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ .id }}"
            }
          ]
        },
        "inputsToIgnore": "",
        "matchType": "anyFilter",
        "operation": "update",
        "resource": "row",
        "tableId": "user_profiles",
        "useCustomSchema": false
      },
      "position": [
        720,
        208
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "smtp": {
          "id": "D1gBpu0AEp8AueAF",
          "name": "SMTP account"
        }
      },
      "id": "email-123456789",
      "name": "Enviar_Email_Bienvenida",
      "parameters": {
        "fromEmail": "instalaciones@ausarta.es",
        "html": "=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #eee; border-radius: 10px; overflow: hidden;\">\\n    <div style=\"background-color: #004a99; padding: 20px; text-align: center;\">\\n        <img src=\"http://15.216.15.30/ausarta.png\" alt=\"Ausarta\" style=\"height: 50px;\">\\n    </div>\\n    <div style=\"padding: 30px;\">\\n        <h2 style=\"color: #004a99;\">Bienvenido a Ausarta Robot!</h2>\\n        <p>Hola <strong>{{ $('Webhook').item.json.body.full_name }}</strong>,</p>\\n        <p>Tu cuenta de acceso a la plataforma <strong>Ausarta Robot Voice AI</strong> ha sido creada correctamente.</p>\\n        <p>A continuacion tienes tus credenciales de acceso temporales:</p>\\n        <div style=\"background-color: #f9f9f9; padding: 15px; border-radius: 8px; margin: 20px 0; border: 1px solid #ddd;\">\\n            <p style=\"margin: 5px 0;\"><strong>Usuario:</strong> {{ $('Webhook').item.json.body.email }}</p>\\n            <p style=\"margin: 5px 0;\"><strong>Contrasena temporal:</strong> {{ $('Webhook').item.json.body.password || 'Robot2025!' }}</p>\\n        </div>\\n        <p><strong>Pasos para comenzar:</strong></p>\\n        <ol>\\n            <li>Accede a la plataforma en <a href=\"http://15.216.15.30\" style=\"color: #004a99; font-weight: bold;\">15.216.15.30</a>.</li>\\n            <li>Inicia sesion con las credenciales indicadas arriba.</li>\\n            <li>Por seguridad, te recomendamos cambiar tu contrasena en el apartado de configuracion una vez dentro.</li>\\n        </ol>\\n        <p style=\"font-size: 13px; color: #666;\">\\n            Si tienes cualquier duda tecnica, escribe a <a href=\"mailto:clientes@ausarta.es\" style=\"color: #004a99;\">clientes@ausarta.es</a>.\\n        </p>\\n    </div>\\n</div>",
        "subject": "Bienvenido a Ausarta Robot! - Tus credenciales de acceso",
        "toEmail": "={{ $('Webhook').item.json.body.email }}"
      },
      "position": [
        940,
        208
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "webhookId": "4bfc5867-139e-4ca2-a773-3eafbc6a284a"
    },
    {
      "id": "respond-node-123",
      "name": "Respond_to_Frontend",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"user_id\": \"{{ $('Supabase_Auth').item.json.id }}\",\n  \"message\": \"Usuario invitado y perfil creado.\"\n}"
      },
      "position": [
        1200,
        208
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Enviar_Email_Bienvenida": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond_to_Frontend",
            "type": "main"
          }
        ]
      ]
    },
    "MapProfileData": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase_Profile",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase_Auth": {
      "main": [
        [
          {
            "index": 0,
            "node": "MapProfileData",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase_Profile": {
      "main": [
        [
          {
            "index": 0,
            "node": "Enviar_Email_Bienvenida",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase_Auth",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7bb2709b-2bb9-42fd-bd33-2a5290caa610",
  "activeVersionId": "7bb2709b-2bb9-42fd-bd33-2a5290caa610",
  "versionCounter": 81,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-24T13:49:09.667Z",
      "createdAt": "2026-02-24T13:49:09.667Z",
      "role": "workflow:owner",
      "workflowId": "MkglONaefdeNTLrm",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-03-05T07:22:31.943Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1772695349488
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-05T10:09:59.090Z",
    "createdAt": "2026-03-05T10:09:59.090Z",
    "versionId": "7bb2709b-2bb9-42fd-bd33-2a5290caa610",
    "workflowId": "MkglONaefdeNTLrm",
    "nodes": [
      {
        "id": "webhook-123456789",
        "name": "Webhook",
        "onError": "continueRegularOutput",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "d0952789-a4a1-4eae-b0db-494356a9e3fa",
          "respondWith": "text",
          "responseMode": "responseNode"
        },
        "position": [
          112,
          208
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "d0952789-a4a1-4eae-b0db-494356a9e3fa"
      },
      {
        "credentials": {},
        "id": "supabase-auth-123",
        "name": "Supabase_Auth",
        "parameters": {
          "authentication": "none",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
              }
            ]
          },
          "jsonBody": "={\n  \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n  \"password\": \"{{ $('Webhook').item.json.body.password || 'Robot2025!' }}\",\n  \"email_confirm\": true\n}",
          "method": "POST",
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/users"
        },
        "position": [
          352,
          208
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1
      },
      {
        "id": "map-profile-data",
        "name": "MapProfileData",
        "parameters": {
          "jsCode": "const authResponse = $input.item.json;\nconst webhookBody = $('Webhook').first().json.body;\n\nreturn [{\n  json: {\n    id: authResponse.id,\n    email: webhookBody.email,\n    full_name: webhookBody.full_name,\n    role: webhookBody.role || 'user',\n    empresa_id: webhookBody.empresa_id || null,\n    is_active: true\n  }\n}];",
          "mode": "runOnceForEachItem"
        },
        "position": [
          528,
          208
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "supabaseApi": {
            "id": "v8Epggpt6LC5dFEf",
            "name": "Supabase API Auto"
          }
        },
        "id": "supabase-profile-123",
        "name": "Supabase_Profile",
        "parameters": {
          "dataToSend": "autoMapInputData",
          "filters": {
            "conditions": [
              {
                "column": "id",
                "operator": "eq",
                "value": "={{ $json.id }}"
              }
            ]
          },
          "operation": "update",
          "tableId": "user_profiles"
        },
        "position": [
          720,
          208
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      },
      {
        "credentials": {
          "smtp": {
            "id": "D1gBpu0AEp8AueAF",
            "name": "SMTP account"
          }
        },
        "id": "email-123456789",
        "name": "Enviar_Email_Bienvenida",
        "parameters": {
          "fromEmail": "instalaciones@ausarta.es",
          "html": "=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #eee; border-radius: 10px; overflow: hidden;\">\\n    <div style=\"background-color: #004a99; padding: 20px; text-align: center;\">\\n        <img src=\"http://15.216.15.30/ausarta.png\" alt=\"Ausarta\" style=\"height: 50px;\">\\n    </div>\\n    <div style=\"padding: 30px;\">\\n        <h2 style=\"color: #004a99;\">Bienvenido a Ausarta Robot!</h2>\\n        <p>Hola <strong>{{ $('Webhook').item.json.body.full_name }}</strong>,</p>\\n        <p>Tu cuenta de acceso a la plataforma <strong>Ausarta Robot Voice AI</strong> ha sido creada correctamente.</p>\\n        <p>A continuacion tienes tus credenciales de acceso temporales:</p>\\n        <div style=\"background-color: #f9f9f9; padding: 15px; border-radius: 8px; margin: 20px 0; border: 1px solid #ddd;\">\\n            <p style=\"margin: 5px 0;\"><strong>Usuario:</strong> {{ $('Webhook').item.json.body.email }}</p>\\n            <p style=\"margin: 5px 0;\"><strong>Contrasena temporal:</strong> {{ $('Webhook').item.json.body.password || 'Robot2025!' }}</p>\\n        </div>\\n        <p><strong>Pasos para comenzar:</strong></p>\\n        <ol>\\n            <li>Accede a la plataforma en <a href=\"http://15.216.15.30\" style=\"color: #004a99; font-weight: bold;\">15.216.15.30</a>.</li>\\n            <li>Inicia sesion con las credenciales indicadas arriba.</li>\\n            <li>Por seguridad, te recomendamos cambiar tu contrasena en el apartado de configuracion una vez dentro.</li>\\n        </ol>\\n        <p style=\"font-size: 13px; color: #666;\">\\n            Si tienes cualquier duda tecnica, escribe a <a href=\"mailto:clientes@ausarta.es\" style=\"color: #004a99;\">clientes@ausarta.es</a>.\\n        </p>\\n    </div>\\n</div>",
          "subject": "Bienvenido a Ausarta Robot! - Tus credenciales de acceso",
          "toEmail": "={{ $('Webhook').item.json.body.email }}"
        },
        "position": [
          940,
          208
        ],
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "webhookId": "4bfc5867-139e-4ca2-a773-3eafbc6a284a"
      },
      {
        "id": "respond-node-123",
        "name": "Respond_to_Frontend",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"success\",\n  \"user_id\": \"{{ $('Supabase_Auth').item.json.id }}\",\n  \"message\": \"Usuario invitado y perfil creado.\"\n}"
        },
        "position": [
          1200,
          208
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      }
    ],
    "connections": {
      "Enviar_Email_Bienvenida": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond_to_Frontend",
              "type": "main"
            }
          ]
        ]
      },
      "MapProfileData": {
        "main": [
          [
            {
              "index": 0,
              "node": "Supabase_Profile",
              "type": "main"
            }
          ]
        ]
      },
      "Supabase_Auth": {
        "main": [
          [
            {
              "index": 0,
              "node": "MapProfileData",
              "type": "main"
            }
          ]
        ]
      },
      "Supabase_Profile": {
        "main": [
          [
            {
              "index": 0,
              "node": "Enviar_Email_Bienvenida",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Supabase_Auth",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}