n8n/workflows/Orquestador_de_Campanas___Ausarta_NUEVO___Active.json
{
  "updatedAt": "2026-03-05T07:26:19.111Z",
  "createdAt": "2026-03-04T10:48:31.416Z",
  "id": "3cLVhxdaKFTer7Ht",
  "name": "Orquestador de Campañas - Ausarta (NUEVO)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trig_1_new_act",
      "name": "ScheduleTrigger",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "interval": 5
            }
          ]
        }
      },
      "position": [
        100,
        300
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "fetch_1_new_act",
      "name": "FetchLead",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "sendHeaders": true,
        "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/rest/v1/leads?select=*,campaigns!inner(*)&status=eq.pending&limit=1"
      },
      "position": [
        350,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {}
    },
    {
      "id": "check_empty",
      "name": "CheckIfLeadExists",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          }
        }
      },
      "position": [
        580,
        300
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "update_status",
      "name": "UpdateLeadCalling",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "jsonBody": "={\n  \"status\": \"calling\"\n}",
        "method": "PATCH",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://afrrxeibtrwjaiqmhytu.supabase.co/rest/v1/campaign_leads?id=eq.{{ $('CheckIfLeadExists').item.json.id }}"
      },
      "position": [
        810,
        200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "NeWFqQVXICbbvpHi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "post_1_new_act",
      "name": "PostCall",
      "onError": "continueRegularOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"phoneNumber\": \"{{ $('CheckIfLeadExists').item.json.phone_number }}\",\n  \"customerName\": \"{{ $('CheckIfLeadExists').item.json.customer_name }}\",\n  \"campaignId\": \"{{ $('CheckIfLeadExists').item.json.campaign_id }}\",\n  \"agentId\": \"{{ $('CheckIfLeadExists').item.json.campaigns.agent_id }}\",\n  \"leadId\": \"{{ $('CheckIfLeadExists').item.json.id }}\"\n}",
        "method": "POST",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "http://15.216.15.30:8003/api/calls/outbound"
      },
      "position": [
        1060,
        200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "noop_1",
      "name": "NoLeadFound",
      "parameters": {},
      "position": [
        810,
        400
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    }
  ],
  "connections": {
    "CheckIfLeadExists": {
      "main": [
        [
          {
            "index": 0,
            "node": "UpdateLeadCalling",
            "type": "main"
          },
          {
            "index": 0,
            "node": "PostCall",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "NoLeadFound",
            "type": "main"
          }
        ]
      ]
    },
    "FetchLead": {
      "main": [
        [
          {
            "index": 0,
            "node": "CheckIfLeadExists",
            "type": "main"
          }
        ]
      ]
    },
    "ScheduleTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "FetchLead",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}