n8n/workflows/Orquestador_de_Campanas___Ausarta_Voice_AI_Force_Chat.json
{
  "updatedAt": "2026-03-04T13:34:21.226Z",
  "createdAt": "2026-02-27T11:29:32.564Z",
  "id": "c1GO5ZJVQEkxgaLE",
  "name": "Orquestador de Campañas - Ausarta Voice AI (Force Chat)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trig_1",
      "name": "TriggerEveryMinute",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "interval": 5
            }
          ]
        }
      },
      "position": [
        100,
        300
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "fetch_lead_1",
      "name": "FetchOnePendingLead",
      "parameters": {
        "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/campaign_leads?status=eq.pending&select=*,campaigns(agent_id,name)&order=created_at.asc&limit=1"
      },
      "position": [
        350,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "http_1",
      "name": "PostOutboundCall",
      "parameters": {
        "jsonBody": "={\n  \"phoneNumber\": \"{{ $json.phone_number }}\",\n  \"customerName\": \"{{ $json.customer_name }}\",\n  \"campaignId\": \"{{ $json.campaign_id }}\",\n  \"agentId\": \"{{ $json.campaigns.agent_id }}\",\n  \"leadId\": \"{{ $json.id }}\"\n}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://15.216.15.30:8003/api/calls/outbound"
      },
      "position": [
        600,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "chat_1",
      "name": "ManualTrigger",
      "parameters": {},
      "position": [
        100,
        100
      ],
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1
    }
  ],
  "connections": {
    "FetchOnePendingLead": {
      "main": [
        [
          {
            "index": 0,
            "node": "PostOutboundCall",
            "type": "main"
          }
        ]
      ]
    },
    "ManualTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "FetchOnePendingLead",
            "type": "main"
          }
        ]
      ]
    },
    "TriggerEveryMinute": {
      "main": [
        [
          {
            "index": 0,
            "node": "FetchOnePendingLead",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:TriggerEveryMinute": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "038b8b8c-8169-49a6-ab4c-0d3cf478d6e5",
  "activeVersionId": "038b8b8c-8169-49a6-ab4c-0d3cf478d6e5",
  "versionCounter": 40,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-27T11:29:32.566Z",
      "createdAt": "2026-02-27T11:29:32.566Z",
      "role": "workflow:owner",
      "workflowId": "c1GO5ZJVQEkxgaLE",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-03-04T08:56:01.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-04T13:34:21.227Z",
    "createdAt": "2026-03-04T13:34:21.227Z",
    "versionId": "038b8b8c-8169-49a6-ab4c-0d3cf478d6e5",
    "workflowId": "c1GO5ZJVQEkxgaLE",
    "nodes": [
      {
        "id": "trig_1",
        "name": "TriggerEveryMinute",
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "interval": 5
              }
            ]
          }
        },
        "position": [
          100,
          300
        ],
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2
      },
      {
        "id": "fetch_lead_1",
        "name": "FetchOnePendingLead",
        "parameters": {
          "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/campaign_leads?status=eq.pending&select=*,campaigns(agent_id,name)&order=created_at.asc&limit=1"
        },
        "position": [
          350,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1
      },
      {
        "id": "http_1",
        "name": "PostOutboundCall",
        "parameters": {
          "jsonBody": "={\n  \"phoneNumber\": \"{{ $json.phone_number }}\",\n  \"customerName\": \"{{ $json.customer_name }}\",\n  \"campaignId\": \"{{ $json.campaign_id }}\",\n  \"agentId\": \"{{ $json.campaigns.agent_id }}\",\n  \"leadId\": \"{{ $json.id }}\"\n}",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "json",
          "url": "http://15.216.15.30:8003/api/calls/outbound"
        },
        "position": [
          600,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1
      },
      {
        "id": "chat_1",
        "name": "ManualTrigger",
        "parameters": {},
        "position": [
          100,
          100
        ],
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1
      }
    ],
    "connections": {
      "FetchOnePendingLead": {
        "main": [
          [
            {
              "index": 0,
              "node": "PostOutboundCall",
              "type": "main"
            }
          ]
        ]
      },
      "ManualTrigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "FetchOnePendingLead",
              "type": "main"
            }
          ]
        ]
      },
      "TriggerEveryMinute": {
        "main": [
          [
            {
              "index": 0,
              "node": "FetchOnePendingLead",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}