n8n/workflows/Orquestador_Campanas_Goteo.json
{
  "updatedAt": "2026-06-09T05:54:21.655Z",
  "createdAt": "2026-03-03T11:35:58.745Z",
  "id": "vTddcbDCwnqk3miA",
  "name": "Orquestador de Campañas de Goteo (ACTIVO)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "campana-goteo-v1"
      },
      "position": [
        100,
        300
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "33fbd5fe-fc88-4019-8dcf-60f88df81906"
    },
    {
      "id": "start-call",
      "name": "StartOutboundCall",
      "parameters": {
        "jsonBody": "={\\n  \"phoneNumber\": \"{{ $json.body.phoneNumber }}\",\\n  \"leadId\": {{ $json.body.leadId }},\\n  \"agentId\": \"{{ $json.body.agentId }}\",\\n  \"campaignId\": {{ $json.body.campaignId }}\\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://app.ausarta.net/api/calls/outbound"
      },
      "position": [
        300,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseBody": "{\"status\":\"ok\",\"message\":\"Call initiated\"}"
      },
      "position": [
        500,
        300
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "StartOutboundCall": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond OK",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "StartOutboundCall",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5c4dbf02-fbbe-42bb-bed5-b3f36f1ca094",
  "activeVersionId": "5c4dbf02-fbbe-42bb-bed5-b3f36f1ca094",
  "versionCounter": 62,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T11:35:58.748Z",
      "createdAt": "2026-03-03T11:35:58.748Z",
      "role": "workflow:owner",
      "workflowId": "vTddcbDCwnqk3miA",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-06-09T05:45:22.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1773324965238
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-09T05:54:21.656Z",
    "createdAt": "2026-06-09T05:54:21.656Z",
    "versionId": "5c4dbf02-fbbe-42bb-bed5-b3f36f1ca094",
    "workflowId": "vTddcbDCwnqk3miA",
    "nodes": [
      {
        "id": "webhook-trigger",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "campana-goteo-v1"
        },
        "position": [
          100,
          300
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "33fbd5fe-fc88-4019-8dcf-60f88df81906"
      },
      {
        "id": "start-call",
        "name": "StartOutboundCall",
        "parameters": {
          "jsonBody": "={\\n  \"phoneNumber\": \"{{ $json.body.phoneNumber }}\",\\n  \"leadId\": {{ $json.body.leadId }},\\n  \"agentId\": \"{{ $json.body.agentId }}\",\\n  \"campaignId\": {{ $json.body.campaignId }}\\n}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "url": "https://app.ausarta.net/api/calls/outbound"
        },
        "position": [
          300,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "respond-ok",
        "name": "Respond OK",
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "responseBody": "{\"status\":\"ok\",\"message\":\"Call initiated\"}"
        },
        "position": [
          500,
          300
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      }
    ],
    "connections": {
      "StartOutboundCall": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond OK",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "StartOutboundCall",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}
