n8n/workflows/Orquestador_de_Campanas___Ausarta_Voice_AI_Force_Chat.json
{
  "updatedAt": "2026-03-04T18:18:00.000Z",
  "createdAt": "2026-02-27T11:29:32.564Z",
  "id": "c1GO5ZJVQEkxgaLE",
  "name": "Orquestador de Campañas - Ausarta Voice AI (Force Chat)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "fetch_lead_1",
      "name": "FetchOnePendingLead",
      "parameters": {
        "method": "GET",
        "url": "=https://afrrxeibtrwjaiqmhytu.supabase.co/rest/v1/leads?select=*,campaigns!inner(*)&status=eq.pending&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true
      },
      "position": [
        350,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "credentials": {
        "httpHeaderAuth": {
          "id": "v8Epggpt6LC5dFEf",
          "name": "Supabase API Auto"
        }
      }
    },
    {
      "id": "http_1",
      "name": "PostOutboundCall",
      "parameters": {
        "jsonBody": "={\n  \"phoneNumber\": \"{{ $('FetchOnePendingLead').item.json.phone_number }}\",\n  \"customerName\": \"{{ $('FetchOnePendingLead').item.json.customer_name }}\",\n  \"campaignId\": \"{{ $('FetchOnePendingLead').item.json.campaign_id }}\",\n  \"agentId\": \"{{ $('FetchOnePendingLead').item.json.campaigns.agent_id }}\",\n  \"leadId\": \"{{ $('FetchOnePendingLead').item.json.id }}\"\n}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://15.216.15.30:8003/api/calls/outbound"
      },
      "position": [
        600,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "continueOnFail": true
    },
    {
      "id": "chat_1",
      "name": "ManualTrigger",
      "parameters": {},
      "position": [
        100,
        100
      ],
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1
    }
  ],
  "connections": {
    "FetchOnePendingLead": {
      "main": [
        [
          {
            "index": 0,
            "node": "PostOutboundCall",
            "type": "main"
          }
        ]
      ]
    },
    "ManualTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "FetchOnePendingLead",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:TriggerEveryMinute": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "c25e6440-f4c0-4db1-b828-fef4ab89a006",
  "activeVersionId": "c25e6440-f4c0-4db1-b828-fef4ab89a006",
  "versionCounter": 51,
  "triggerCount": 1,
  "shared": [],
  "tags": [],
  "activeVersion": null
}