n8n/workflows/Orquestador_de_Campanas___Ausarta_NUEVO___Active.json
{
  "updatedAt": "2026-03-04T13:37:38.304Z",
  "createdAt": "2026-03-04T10:48:31.416Z",
  "id": "3cLVhxdaKFTer7Ht",
  "name": "Orquestador de Campañas - Ausarta (NUEVO) - Active",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trig_1_new_act",
      "name": "ScheduleTrigger",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "interval": 5
            }
          ]
        }
      },
      "position": [
        100,
        300
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "fetch_1_new_act",
      "name": "FetchLead",
      "parameters": {
        "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/campaign_leads?status=eq.pending&or=(next_retry_at.is.null,next_retry_at.lte.{{ $now.toISOString() }})&select=*,campaigns(agent_id,name)&order=created_at.asc&limit=1"
      },
      "position": [
        350,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "id": "post_1_new_act",
      "name": "PostCall",
      "parameters": {
        "jsonBody": "={\n  \"phoneNumber\": \"{{ $json.phone_number }}\",\n  \"customerName\": \"{{ $json.customer_name }}\",\n  \"campaignId\": \"{{ $json.campaign_id }}\",\n  \"agentId\": \"{{ $json.campaigns.agent_id }}\",\n  \"leadId\": \"{{ $json.id }}\"\n}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://15.216.15.30:8003/api/calls/outbound"
      },
      "position": [
        600,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "FetchLead": {
      "main": [
        [
          {
            "index": 0,
            "node": "PostCall",
            "type": "main"
          }
        ]
      ]
    },
    "ScheduleTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "FetchLead",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:ScheduleTrigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "ddb75c9c-202a-43a1-a5ab-8a893f0b21e9",
  "activeVersionId": "ddb75c9c-202a-43a1-a5ab-8a893f0b21e9",
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T10:48:31.420Z",
      "createdAt": "2026-03-04T10:48:31.420Z",
      "role": "workflow:owner",
      "workflowId": "3cLVhxdaKFTer7Ht",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-03-04T08:56:01.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-04T13:37:38.305Z",
    "createdAt": "2026-03-04T13:37:38.305Z",
    "versionId": "ddb75c9c-202a-43a1-a5ab-8a893f0b21e9",
    "workflowId": "3cLVhxdaKFTer7Ht",
    "nodes": [
      {
        "id": "trig_1_new_act",
        "name": "ScheduleTrigger",
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "interval": 5
              }
            ]
          }
        },
        "position": [
          100,
          300
        ],
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1
      },
      {
        "id": "fetch_1_new_act",
        "name": "FetchLead",
        "parameters": {
          "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/campaign_leads?status=eq.pending&or=(next_retry_at.is.null,next_retry_at.lte.{{ $now.toISOString() }})&select=*,campaigns(agent_id,name)&order=created_at.asc&limit=1"
        },
        "position": [
          350,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1
      },
      {
        "id": "post_1_new_act",
        "name": "PostCall",
        "parameters": {
          "jsonBody": "={\n  \"phoneNumber\": \"{{ $json.phone_number }}\",\n  \"customerName\": \"{{ $json.customer_name }}\",\n  \"campaignId\": \"{{ $json.campaign_id }}\",\n  \"agentId\": \"{{ $json.campaigns.agent_id }}\",\n  \"leadId\": \"{{ $json.id }}\"\n}",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "json",
          "url": "http://15.216.15.30:8003/api/calls/outbound"
        },
        "position": [
          600,
          300
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1
      }
    ],
    "connections": {
      "FetchLead": {
        "main": [
          [
            {
              "index": 0,
              "node": "PostCall",
              "type": "main"
            }
          ]
        ]
      },
      "ScheduleTrigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "FetchLead",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}