n8n/workflows/Recuperar_Password_Ausarta_v1.json
{
  "updatedAt": "2026-03-04T12:57:58.799Z",
  "createdAt": "2026-02-24T13:56:17.865Z",
  "id": "zTIva1ME01dBf0im",
  "name": "Recuperar_Password_Ausarta_v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
        "respondWith": "text",
        "responseMode": "responseNode"
      },
      "id": "webhook-recovery-123",
      "name": "Webhook_Recovery",
      "position": [
        112,
        208
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "jsonBody": "={\n  \"type\": \"recovery\",\n  \"email\": \"{{ $node.Webhook_Recovery.json.body.email }}\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "{{ $env.VITE_SUPABASE_URL }}/auth/v1/admin/generate_link"
      },
      "id": "supabase-recovery-123",
      "name": "Supabase_Get_Recovery_Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        352,
        208
      ]
    },
    {
      "parameters": {
        "html": "=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #eee; border-radius: 10px; overflow: hidden;\">\n    <div style=\"background-color: #004a99; padding: 20px; text-align: center;\">\n        <img src=\"http://15.216.15.30/ausarta.png\" alt=\"Ausarta\" style=\"height: 50px;\">\n    </div>\n    <div style=\"padding: 30px;\">\n        <h2 style=\"color: #004a99;\">Restablecer contraseña</h2>\n        <p>Hola,</p>\n        <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en <strong>Ausarta Robot</strong>.</p>\n        <p><strong>Pasos para recuperar tu cuenta:</strong></p>\n        <ol>\n            <li>Haz clic en el botón azul de abajo (o usa el enlace directo).</li>\n            <li>Introduce tu nueva contraseña en la página que se abrirá.</li>\n            <li>Inicia sesión normalmente con tu nueva clave.</li>\n        </ol>\n        <div style=\"text-align: center; margin-top: 30px; margin-bottom: 30px;\">\n            <a href=\"{{ $node['Supabase_Get_Recovery_Link'].json.action_link }}\" style=\"background-color: #004a99; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Restablecer Contraseña</a>\n        </div>\n        <p style=\"font-size: 14px;\">Si el botón no funciona, copia y pega este enlace en tu navegador:</p>\n        <p style=\"font-size: 12px; color: #888; word-break: break-all;\">{{ $node['Supabase_Get_Recovery_Link'].json.action_link }}</p>\n        <p style=\"color: #666; font-size: 13px;\"><em>Nota: Este enlace caducará en unos minutos por motivos de seguridad.</em></p>\n        <hr style=\"border: 0; border-top: 1px solid #eee; margin: 30px 0;\">\n        <p style=\"font-size: 13px; color: #666;\">\n            Si no has solicitado este cambio, puedes ignorar este correo de forma segura. Para cualquier duda, escríbenos a <a href=\"mailto:clientes@ausarta.es\" style=\"color: #004a99;\">clientes@ausarta.es</a>.\n        </p>\n    </div>\n</div>"
      },
      "id": "email-recovery-123",
      "name": "Enviar_Email_Recuperacion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        208
      ],
      "webhookId": "f9a5e6d7-50c7-4178-9b0a-29d2c8ed70c6",
      "credentials": {
        "smtp": {
          "id": "D1gBpu0AEp8AueAF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "id": "respond-recovery-123",
      "name": "Respond_to_Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        208
      ]
    }
  ],
  "connections": {
    "Webhook_Recovery": {
      "main": [
        [
          {
            "node": "Supabase_Get_Recovery_Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Get_Recovery_Link": {
      "main": [
        [
          {
            "node": "Enviar_Email_Recuperacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Email_Recuperacion": {
      "main": [
        [
          {
            "node": "Respond_to_Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b3f2bfd0-891e-40a6-b9c8-fb35f3e50b83",
  "activeVersionId": "b3f2bfd0-891e-40a6-b9c8-fb35f3e50b83",
  "versionCounter": 45,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-24T13:56:17.867Z",
      "createdAt": "2026-02-24T13:56:17.867Z",
      "role": "workflow:owner",
      "workflowId": "zTIva1ME01dBf0im",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-03-04T08:56:01.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-04T12:57:58.800Z",
    "createdAt": "2026-03-04T12:57:58.800Z",
    "versionId": "b3f2bfd0-891e-40a6-b9c8-fb35f3e50b83",
    "workflowId": "zTIva1ME01dBf0im",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
          "respondWith": "text",
          "responseMode": "responseNode"
        },
        "id": "webhook-recovery-123",
        "name": "Webhook_Recovery",
        "position": [
          112,
          208
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "authentication": "none",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              }
            ]
          },
          "jsonBody": "={\n  \"type\": \"recovery\",\n  \"email\": \"{{ $node.Webhook_Recovery.json.body.email }}\"\n}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "{{ $env.VITE_SUPABASE_URL }}/auth/v1/admin/generate_link"
        },
        "id": "supabase-recovery-123",
        "name": "Supabase_Get_Recovery_Link",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          352,
          208
        ]
      },
      {
        "parameters": {
          "html": "=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #eee; border-radius: 10px; overflow: hidden;\">\n    <div style=\"background-color: #004a99; padding: 20px; text-align: center;\">\n        <img src=\"http://15.216.15.30/ausarta.png\" alt=\"Ausarta\" style=\"height: 50px;\">\n    </div>\n    <div style=\"padding: 30px;\">\n        <h2 style=\"color: #004a99;\">Restablecer contraseña</h2>\n        <p>Hola,</p>\n        <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en <strong>Ausarta Robot</strong>.</p>\n        <p><strong>Pasos para recuperar tu cuenta:</strong></p>\n        <ol>\n            <li>Haz clic en el botón azul de abajo (o usa el enlace directo).</li>\n            <li>Introduce tu nueva contraseña en la página que se abrirá.</li>\n            <li>Inicia sesión normalmente con tu nueva clave.</li>\n        </ol>\n        <div style=\"text-align: center; margin-top: 30px; margin-bottom: 30px;\">\n            <a href=\"{{ $node['Supabase_Get_Recovery_Link'].json.action_link }}\" style=\"background-color: #004a99; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Restablecer Contraseña</a>\n        </div>\n        <p style=\"font-size: 14px;\">Si el botón no funciona, copia y pega este enlace en tu navegador:</p>\n        <p style=\"font-size: 12px; color: #888; word-break: break-all;\">{{ $node['Supabase_Get_Recovery_Link'].json.action_link }}</p>\n        <p style=\"color: #666; font-size: 13px;\"><em>Nota: Este enlace caducará en unos minutos por motivos de seguridad.</em></p>\n        <hr style=\"border: 0; border-top: 1px solid #eee; margin: 30px 0;\">\n        <p style=\"font-size: 13px; color: #666;\">\n            Si no has solicitado este cambio, puedes ignorar este correo de forma segura. Para cualquier duda, escríbenos a <a href=\"mailto:clientes@ausarta.es\" style=\"color: #004a99;\">clientes@ausarta.es</a>.\n        </p>\n    </div>\n</div>"
        },
        "id": "email-recovery-123",
        "name": "Enviar_Email_Recuperacion",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          608,
          208
        ],
        "webhookId": "f9a5e6d7-50c7-4178-9b0a-29d2c8ed70c6",
        "credentials": {
          "smtp": {
            "id": "D1gBpu0AEp8AueAF",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "options": {}
        },
        "id": "respond-recovery-123",
        "name": "Respond_to_Frontend",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          864,
          208
        ]
      }
    ],
    "connections": {
      "Webhook_Recovery": {
        "main": [
          [
            {
              "node": "Supabase_Get_Recovery_Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase_Get_Recovery_Link": {
        "main": [
          [
            {
              "node": "Enviar_Email_Recuperacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar_Email_Recuperacion": {
        "main": [
          [
            {
              "node": "Respond_to_Frontend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}