n8n/workflows/Recuperar_Password_Ausarta_v1.json
{
  "updatedAt": "2026-03-05T07:29:11.797Z",
  "createdAt": "2026-02-24T13:56:17.865Z",
  "id": "zTIva1ME01dBf0im",
  "name": "Recuperar_Password_Ausarta_v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-recovery-123",
      "name": "Webhook_Recovery",
      "position": [
        112,
        208
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            }
          ]
        },
        "jsonBody": "={\n  \"type\": \"recovery\",\n  \"email\": \"{{ $('Webhook_Recovery').item.json.body.email }}\"\n}",
        "method": "POST",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/generate_link"
      },
      "id": "supabase-recovery-123",
      "name": "Supabase_Get_Recovery_Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        352,
        208
      ]
    },
    {
      "parameters": {
        "fromEmail": "instalaciones@ausarta.es",
        "html": "=<div style=\\\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #eee; border-radius: 10px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: #004a99; padding: 20px; text-align: center;\\\">\\n        <img src=\\\"http://15.216.15.30/ausarta.png\\\" alt=\\\"Ausarta\\\" style=\\\"height: 50px;\\\">\\n    </div>\\n    <div style=\\\"padding: 30px;\\\">\\n        <h2 style=\\\"color: #004a99;\\\">Restablecer contraseña</h2>\\n        <p>Hola,</p>\\n        <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en <strong>Ausarta Robot</strong>.</p>\\n        <p><strong>Pasos para recuperar tu cuenta:</strong></p>\\n        <ol>\\n            <li>Haz clic en el botón azul de abajo (o usa el enlace directo).</li>\\n            <li>Introduce tu nueva contraseña en la página que se abrirá.</li>\\n            <li>Inicia sesión normalmente con tu nueva clave.</li>\\n        </ol>\\n        <div style=\\\"text-align: center; margin-top: 30px; margin-bottom: 30px;\\\">\\n            <a href=\\\"{{ $('Supabase_Get_Recovery_Link').item.json.action_link }}\\\" style=\\\"background-color: #004a99; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;\\\">Restablecer Contraseña</a>\\n        </div>\\n        <p style=\\\"font-size: 14px;\\\">Si el botón no funciona, copia y pega este enlace en tu navegador:</p>\\n        <p style=\\\"font-size: 12px; color: #888; word-break: break-all;\\\">{{ $('Supabase_Get_Recovery_Link').item.json.action_link }}</p>\\n        <p style=\\\"color: #666; font-size: 13px;\\\"><em>Nota: Este enlace caducará en unos minutos por motivos de seguridad.</em></p>\\n        <hr style=\\\"border: 0; border-top: 1px solid #eee; margin: 30px 0;\\\">\\n        <p style=\\\"font-size: 13px; color: #666;\\\">\\n            Si no has solicitado este cambio, puedes ignorar este correo de forma segura. Para cualquier duda, escríbenos a <a href=\\\"mailto:clientes@ausarta.es\\\" style=\\\"color: #004a99;\\\">clientes@ausarta.es</a>.\\n        </p>\\n    </div>\\n</div>",
        "subject": "Restablecer contraseña - Ausarta Robot",
        "toEmail": "={{ $('Webhook_Recovery').item.json.body.email }}"
      },
      "id": "email-recovery-123",
      "name": "Enviar_Email_Recuperacion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        208
      ],
      "webhookId": "f9a5e6d7-50c7-4178-9b0a-29d2c8ed70c6",
      "credentials": {
        "smtp": {
          "id": "D1gBpu0AEp8AueAF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "text",
        "responseBody": "Email de recuperación enviado correctamente."
      },
      "id": "respond-recovery-123",
      "name": "Respond_to_Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        208
      ]
    }
  ],
  "connections": {
    "Webhook_Recovery": {
      "main": [
        [
          {
            "node": "Supabase_Get_Recovery_Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Get_Recovery_Link": {
      "main": [
        [
          {
            "node": "Enviar_Email_Recuperacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Email_Recuperacion": {
      "main": [
        [
          {
            "node": "Respond_to_Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "37c730cb-b682-403f-baad-f2fa7d5d63f0"
}