n8n/workflows/Recuperar_Password_Ausarta_v1.json
{
  "updatedAt": "2026-06-09T05:54:21.778Z",
  "createdAt": "2026-02-24T13:56:17.865Z",
  "id": "zTIva1ME01dBf0im",
  "name": "Recuperar_Password_Ausarta_v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-recovery-123",
      "name": "Webhook_Recovery",
      "position": [
        112,
        208
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-n8n-secret-recovery",
              "leftValue": "={{ $('Webhook_Recovery').item.json.headers['x-n8n-secret'] }}",
              "rightValue": "ausarta-n8n-secret-2026-XkP9mQ7r",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-secret-recovery",
      "name": "ValidateSecret",
      "position": [
        290,
        208
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\", \"message\": \"X-N8N-Secret invalido o ausente.\" }",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-unauthorized-recovery",
      "name": "Respond_Unauthorized",
      "position": [
        490,
        400
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
            }
          ]
        },
        "jsonBody": "={\n  \"type\": \"recovery\",\n  \"email\": \"{{ $('Webhook_Recovery').item.json.body.email }}\",\n  \"options\": {\n    \"redirect_to\": \"{{ $('Webhook_Recovery').item.json.body.redirect_to || 'http://15.216.15.30' }}\"\n  }\n}",
        "method": "POST",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/generate_link"
      },
      "id": "supabase-recovery-123",
      "name": "Supabase_Get_Recovery_Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        490,
        208
      ]
    },
    {
      "parameters": {
        "fromEmail": "instalaciones@ausarta.es",
        "html": "=<div style=\\\"font-family: Arial, Helvetica, sans-serif; color: #1a1a1a; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\\\">\\n  <div style=\\\"background: linear-gradient(135deg, #004a99 0%, #0066cc 100%); padding: 28px 24px; text-align: center;\\\">\\n    <p style=\\\"margin: 0; color: #ffffff; font-size: 22px; font-weight: bold; letter-spacing: 0.5px;\\\">Ausarta Robot</p>\\n    <p style=\\\"margin: 8px 0 0; color: #cce0ff; font-size: 14px;\\\">Plataforma de voz empresarial</p>\\n  </div>\\n  <div style=\\\"padding: 32px 28px; background: #ffffff;\\\">\\n    <h2 style=\\\"color: #004a99; margin: 0 0 16px; font-size: 20px;\\\">Restablecer tu contraseña</h2>\\n    <p style=\\\"line-height: 1.6; margin: 0 0 12px;\\\">Hola,</p>\\n    <p style=\\\"line-height: 1.6; margin: 0 0 20px;\\\">\\n      Hemos recibido una solicitud para cambiar la contraseña de tu cuenta en <strong>Ausarta Robot</strong>.\\n      Si fuiste tú, sigue estos pasos:\\n    </p>\\n\\n    <div style=\\\"background: #f0f6ff; border-radius: 8px; padding: 20px 24px; margin-bottom: 28px;\\\">\\n      <p style=\\\"margin: 0 0 12px; font-weight: bold; color: #004a99;\\\">Cómo crear tu nueva contraseña</p>\\n      <ol style=\\\"margin: 0; padding-left: 20px; line-height: 1.8; color: #333;\\\">\\n        <li>Pulsa el botón <strong>«Crear nueva contraseña»</strong> de abajo.</li>\\n        <li>Se abrirá la web de Ausarta. Escribe la nueva contraseña <strong>dos veces</strong> y confírmala.</li>\\n        <li>Vuelve a iniciar sesión con tu email y la contraseña nueva.</li>\\n      </ol>\\n    </div>\\n\\n    <div style=\\\"text-align: center; margin: 32px 0;\\\">\\n      <a href=\\\"{{ $('Supabase_Get_Recovery_Link').item.json.action_link }}\\\" style=\\\"background-color: #004a99; color: #ffffff; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 16px; display: inline-block;\\\">\\n        Crear nueva contraseña\\n      </a>\\n    </div>\\n\\n    <p style=\\\"font-size: 14px; color: #555; margin: 0 0 8px;\\\">Si el botón no funciona, copia y pega este enlace en tu navegador:</p>\\n    <p style=\\\"font-size: 12px; color: #666; word-break: break-all; background: #f9fafb; padding: 12px; border-radius: 6px; border: 1px solid #e5e7eb; margin: 0 0 24px;\\\">{{ $('Supabase_Get_Recovery_Link').item.json.action_link }}</p>\\n\\n    <p style=\\\"font-size: 13px; color: #666; margin: 0; padding: 12px 0 0; border-top: 1px solid #eee;\\\">\\n      <strong>Caducidad:</strong> el enlace expira en aproximadamente 1 hora por seguridad.<br>\\n      <strong>¿No lo pediste?</strong> Ignora este correo; tu contraseña actual no cambiará.\\n    </p>\\n  </div>\\n  <div style=\\\"padding: 16px 28px; background: #f9fafb; text-align: center; font-size: 12px; color: #888;\\\">\\n    ¿Necesitas ayuda? <a href=\\\"mailto:clientes@ausarta.es\\\" style=\\\"color: #004a99;\\\">clientes@ausarta.es</a>\\n  </div>\\n</div>\\n",
        "subject": "Cómo restablecer tu contraseña — Ausarta Robot",
        "toEmail": "={{ $('Webhook_Recovery').item.json.body.email }}"
      },
      "id": "email-recovery-123",
      "name": "Enviar_Email_Recuperacion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        208
      ],
      "credentials": {
        "smtp": {
          "id": "D1gBpu0AEp8AueAF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "text",
        "responseBody": "Email de recuperacion enviado correctamente."
      },
      "id": "respond-recovery-123",
      "name": "Respond_to_Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        208
      ]
    }
  ],
  "connections": {
    "Webhook_Recovery": {
      "main": [
        [
          {
            "node": "ValidateSecret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSecret": {
      "main": [
        [
          {
            "node": "Supabase_Get_Recovery_Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Get_Recovery_Link": {
      "main": [
        [
          {
            "node": "Enviar_Email_Recuperacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Email_Recuperacion": {
      "main": [
        [
          {
            "node": "Respond_to_Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "629b9799-34a2-40d6-b0c6-d5ad609de16e",
  "activeVersionId": "629b9799-34a2-40d6-b0c6-d5ad609de16e",
  "versionCounter": 65,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-24T13:56:17.867Z",
      "createdAt": "2026-02-24T13:56:17.867Z",
      "role": "workflow:owner",
      "workflowId": "zTIva1ME01dBf0im",
      "projectId": "ijbwk55HPKJ5DPss",
      "project": {
        "updatedAt": "2025-12-11T08:54:51.702Z",
        "createdAt": "2025-12-10T13:46:26.449Z",
        "id": "ijbwk55HPKJ5DPss",
        "name": "inigo solana <inigo.solana@ausarta.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-10T13:46:26.452Z",
            "createdAt": "2025-12-10T13:46:26.452Z",
            "userId": "770335f9-a6c2-46ca-824f-d6bc6859540e",
            "projectId": "ijbwk55HPKJ5DPss",
            "user": {
              "updatedAt": "2026-06-09T05:45:22.000Z",
              "createdAt": "2025-12-10T13:46:26.442Z",
              "id": "770335f9-a6c2-46ca-824f-d6bc6859540e",
              "email": "inigo.solana@ausarta.es",
              "firstName": "inigo",
              "lastName": "solana",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T08:55:07.101Z",
                "personalization_survey_n8n_version": "1.123.4",
                "companySize": "100-499",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "MkglONaefdeNTLrm",
                "userActivated": true,
                "userActivatedAt": 1772015350689,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1773324965238
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-09T05:54:21.779Z",
    "createdAt": "2026-06-09T05:54:21.779Z",
    "versionId": "629b9799-34a2-40d6-b0c6-d5ad609de16e",
    "workflowId": "zTIva1ME01dBf0im",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-recovery-123",
        "name": "Webhook_Recovery",
        "position": [
          112,
          208
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "webhookId": "fbdb6333-c473-493a-a1da-6c1756d5ae04",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-n8n-secret-recovery",
                "leftValue": "={{ $('Webhook_Recovery').item.json.headers['x-n8n-secret'] }}",
                "rightValue": "ausarta-n8n-secret-2026-XkP9mQ7r",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "validate-secret-recovery",
        "name": "ValidateSecret",
        "position": [
          290,
          208
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"error\": \"Unauthorized\", \"message\": \"X-N8N-Secret invalido o ausente.\" }",
          "options": {
            "responseCode": 403
          }
        },
        "id": "respond-unauthorized-recovery",
        "name": "Respond_Unauthorized",
        "position": [
          490,
          400
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "none",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnJ4ZWlidHJ3amFpcW1oeXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQxMDg2MCwiZXhwIjoyMDg2OTg2ODYwfQ.hbjkzKxk1MnKn3otvrdp9yJpjUklYbT5sr_L1Gs6nXg"
              }
            ]
          },
          "jsonBody": "={\n  \"type\": \"recovery\",\n  \"email\": \"{{ $('Webhook_Recovery').item.json.body.email }}\",\n  \"options\": {\n    \"redirect_to\": \"{{ $('Webhook_Recovery').item.json.body.redirect_to || 'http://15.216.15.30' }}\"\n  }\n}",
          "method": "POST",
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "https://afrrxeibtrwjaiqmhytu.supabase.co/auth/v1/admin/generate_link"
        },
        "id": "supabase-recovery-123",
        "name": "Supabase_Get_Recovery_Link",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          490,
          208
        ]
      },
      {
        "parameters": {
          "fromEmail": "instalaciones@ausarta.es",
          "html": "=<div style=\\\"font-family: Arial, Helvetica, sans-serif; color: #1a1a1a; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\\\">\\n  <div style=\\\"background: linear-gradient(135deg, #004a99 0%, #0066cc 100%); padding: 28px 24px; text-align: center;\\\">\\n    <p style=\\\"margin: 0; color: #ffffff; font-size: 22px; font-weight: bold; letter-spacing: 0.5px;\\\">Ausarta Robot</p>\\n    <p style=\\\"margin: 8px 0 0; color: #cce0ff; font-size: 14px;\\\">Plataforma de voz empresarial</p>\\n  </div>\\n  <div style=\\\"padding: 32px 28px; background: #ffffff;\\\">\\n    <h2 style=\\\"color: #004a99; margin: 0 0 16px; font-size: 20px;\\\">Restablecer tu contraseña</h2>\\n    <p style=\\\"line-height: 1.6; margin: 0 0 12px;\\\">Hola,</p>\\n    <p style=\\\"line-height: 1.6; margin: 0 0 20px;\\\">\\n      Hemos recibido una solicitud para cambiar la contraseña de tu cuenta en <strong>Ausarta Robot</strong>.\\n      Si fuiste tú, sigue estos pasos:\\n    </p>\\n\\n    <div style=\\\"background: #f0f6ff; border-radius: 8px; padding: 20px 24px; margin-bottom: 28px;\\\">\\n      <p style=\\\"margin: 0 0 12px; font-weight: bold; color: #004a99;\\\">Cómo crear tu nueva contraseña</p>\\n      <ol style=\\\"margin: 0; padding-left: 20px; line-height: 1.8; color: #333;\\\">\\n        <li>Pulsa el botón <strong>«Crear nueva contraseña»</strong> de abajo.</li>\\n        <li>Se abrirá la web de Ausarta. Escribe la nueva contraseña <strong>dos veces</strong> y confírmala.</li>\\n        <li>Vuelve a iniciar sesión con tu email y la contraseña nueva.</li>\\n      </ol>\\n    </div>\\n\\n    <div style=\\\"text-align: center; margin: 32px 0;\\\">\\n      <a href=\\\"{{ $('Supabase_Get_Recovery_Link').item.json.action_link }}\\\" style=\\\"background-color: #004a99; color: #ffffff; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 16px; display: inline-block;\\\">\\n        Crear nueva contraseña\\n      </a>\\n    </div>\\n\\n    <p style=\\\"font-size: 14px; color: #555; margin: 0 0 8px;\\\">Si el botón no funciona, copia y pega este enlace en tu navegador:</p>\\n    <p style=\\\"font-size: 12px; color: #666; word-break: break-all; background: #f9fafb; padding: 12px; border-radius: 6px; border: 1px solid #e5e7eb; margin: 0 0 24px;\\\">{{ $('Supabase_Get_Recovery_Link').item.json.action_link }}</p>\\n\\n    <p style=\\\"font-size: 13px; color: #666; margin: 0; padding: 12px 0 0; border-top: 1px solid #eee;\\\">\\n      <strong>Caducidad:</strong> el enlace expira en aproximadamente 1 hora por seguridad.<br>\\n      <strong>¿No lo pediste?</strong> Ignora este correo; tu contraseña actual no cambiará.\\n    </p>\\n  </div>\\n  <div style=\\\"padding: 16px 28px; background: #f9fafb; text-align: center; font-size: 12px; color: #888;\\\">\\n    ¿Necesitas ayuda? <a href=\\\"mailto:clientes@ausarta.es\\\" style=\\\"color: #004a99;\\\">clientes@ausarta.es</a>\\n  </div>\\n</div>\\n",
          "subject": "Cómo restablecer tu contraseña — Ausarta Robot",
          "toEmail": "={{ $('Webhook_Recovery').item.json.body.email }}"
        },
        "id": "email-recovery-123",
        "name": "Enviar_Email_Recuperacion",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          680,
          208
        ],
        "credentials": {
          "smtp": {
            "id": "D1gBpu0AEp8AueAF",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          },
          "respondWith": "text",
          "responseBody": "Email de recuperacion enviado correctamente."
        },
        "id": "respond-recovery-123",
        "name": "Respond_to_Frontend",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          880,
          208
        ]
      }
    ],
    "connections": {
      "Webhook_Recovery": {
        "main": [
          [
            {
              "node": "ValidateSecret",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ValidateSecret": {
        "main": [
          [
            {
              "node": "Supabase_Get_Recovery_Link",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond_Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase_Get_Recovery_Link": {
        "main": [
          [
            {
              "node": "Enviar_Email_Recuperacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar_Email_Recuperacion": {
        "main": [
          [
            {
              "node": "Respond_to_Frontend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "inigo solana",
    "name": null,
    "description": null
  }
}
